
html, body {
    margin:0px;
    width:100%;
    height:100%;
    font-family: Verdana;
}

#viewer{
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    width:600px;
    height:600px;
    margin:0px;
    border: 1px solid black;
    background-color: #666;
    color: white;   /* for error messages */
}

.overlay{
     border: 1px solid red;
}

.widget_actions {
    width: 120px;
    position: fixed;
    top: 0;
    left: 220px;
}
.widget_actions div {
    cursor:auto;
    margin:12px 0 0 0;
    color:#1D72C2;
    background-color:#D4ECFF;
    border:1px solid #57B6FF;
    text-align:center;
    text-decoration:none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.widget_actions div.disabled {
    cursor:pointer;
    text-decoration:none;
    color:#666;
    background-color:#eee;
    border:1px solid #ccc;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
    position: relative;
    bottom: 2px;
    right: 2px;
}
.widget_actions div.selected {
    /*font-weight:bold;*/
    -webkit-box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
}
.widget_actions div._title {
    cursor:default;
    color:#666;
    background-color:transparent;
    border-color:transparent;
}

.microsoft_license {
    position: fixed;
    top: 600px;
    left: 12px;
    font-size: 10px;
    color: #999;
}