{
  "parser": "babel-eslint",
  "globals": {
    "OpenSeadragon": 1,
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "no-use-before-define": 0,
    "default-case": 0,
    "react/react-in-jsx-scope": 0,
    "no-unused-vars": [2, { "varsIgnorePattern": "^h$" }],
    "import/no-extraneous-dependencies": 0,
  }
}
