{
  "parser": "babel-eslint",
  "globals": {
    "OpenSeadragon": 1
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "class-methods-use-this": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0
  }
}
